<div layout-padding ng-show="ctrl.displayMode" ng-hide="ctrl.editMode || !ctrl.contact" flex>

  <md-toolbar class="md-hue-2 " layout="row" flex>

    <h1 class="md-toolbar-tools" flex>{{ctrl.contact.firstName + " " + ctrl.contact.lastName}}</h1>



    <button ng-click="ctrl.editContact()" flex class="warning-text">Edit</button>

  </md-toolbar>

  <md-content flex>
    <h4>{{ctrl.contact.phoneNumber}}</h4>
    <h4>{{ctrl.contact.birthday}}</h4>
    <h4>{{ctrl.contact.address}}</h4>
  </md-content>
</div>

<div layout-padding ng-show="ctrl.editMode" ng-hide="ctrl.displayMode">
  <p>Edit Mode</p>
  <button ng-click="ctrl.editContact()"></button>
</div>
